@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F9FAFB;
  color: #1F2937;
}

h1, h2, h3 {
  font-family: 'Bricolage Grotesque', sans-serif;
}